@using Vidly.Models;
@model List<Movies>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movies movies in Model)
            {
                <tr class="clickable-row" data-href="/Movies/details/@movies.id">
                    <td>@movies.id</td>

                    <td>@movies.name</td>

                    <td>@movies.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>