@model Vidly.Models.Customer

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime bd = DateTime.Now;
    bool showDateTime = false;
    if (Model.BirthDate != null)
    {
        bd = (DateTime)Model.BirthDate;
        showDateTime = true;
    }
}

<h2>@Model.Name</h2>
<pre>
    Id = @Model.Id
    @if (showDateTime)
    {
    <span>Birth Date = </span>@bd.ToString("MM/dd/yyyy");
    }
</pre>